<page-header [title]="'标签'"></page-header>
<nz-card>
  <sf mode="search" [schema]="searchSchema" (formSubmit)="search($event)" (formReset)="reset($event)"></sf>
  <button nz-button (click)="add()" [nzType]="'primary'">
    <i nz-icon type="plus"></i>
    <span>新建</span>
  </button>
  <st #st [data]="list" [total]="total" [pi]="page" [ps]="size" [loading]="loading" [columns]="columns" [page]="{front: false, showSize: true, showQuickJumper: true, zeroIndexed: false}" (change)="change($event)"></st>
</nz-card>
